<h1>Listado de Personal</h1>


<div class="row">
    <div class="col text-right">
        <button routerLink="/personal/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && tablaPersonas.items.length > 0" class="table mt-4 animated fadeIn faster animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">DNI</th>
            <th scope="col">RUC</th>
            <th scope="col">Email</th>
            <th scope="col">Herramientas</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of tablaPersonas.items; let i = index">
            <th scope="row">{{ persona.personalId}}</th>
            <td>{{ persona.nombres }}</td>
            <td>{{persona.apellido_Paterno }}</td>
            <td>{{ persona.apellido_Materno }}</td>
            <td> {{ persona.dni }} </td>
            <td>{{ persona.ruc }}</td>
            <td>{{ persona.email }}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]=" [ '/personal', persona.personalId ] ">
                    <i class="fa fa-pencil "></i>
                </button>
                <button class="btn btn-danger " (click)="borrarPersonal( persona, i )">
                    <i class="fa fa-trash "></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && tablaPersonas.items.length === 0" class="alert alert-warning text-center mt-4 ">
    <h4 class="alert-heading ">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x "></i>
    </p>

</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-4 animated fadeIn faster">
    <h4 class="alert-heading ">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x "></i>
    </p>
    <p class="mb-0 ">
        Espere por favor.
    </p>
</div>